@model LTW_Ban_Sach.Identity.AppUser
@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div style="margin-top: 50px; margin-bottom: 20px;" class="p-3">
    <div class="container-fluid d-flex justify-content-between">
        <div class="" style="width: 50px;">
            <a style="line-height: 100px;" href="javascript:history.back()"><i class="fa-solid fa-arrow-left" style="font-size: 25px;color: rgb(10,25,47); line-height: 30px;"></i></a>
        </div>
        <div style="width: calc(100% - 50px)">
            <hr />
            <div class="container"><h3>Update profile</h3></div>
            <hr />
        </div>

    </div>
</div>
<div class="container">
    @using (Html.BeginForm("EditProfile", "Account", FormMethod.Post))
            {
        <input type="hidden" name="preURL" value="@ViewBag.PreUrl" />
        <input type="hidden" name="Id" value="@ViewBag.UserId" />
               <div class="" style="padding: 20px; background-color: aliceblue; border-radius: 10px; margin-bottom: 50px;">
                   <table class="table" style="border-radius: 10px;">
                       <tr>
                           <td>
                               <div>
                                   @Html.LabelFor(r => r.UserName, "Name: ", new {@style = "font-weight: 500"})
                                   @Html.TextBoxFor(r => r.UserName, new { @class = "form-control", @value = Model.UserName})
                                   @Html.ValidationMessageFor(r=>r.UserName, "", new {@class = "text-danger", @style = "font-size: 12px;"} )
                               </div>
                           </td>
                           <td>
                               <div>
                                   @Html.LabelFor(r => r.PhoneNumber, "Phone: ", new { @style = "font-weight: 500" })
                                   @Html.TextBoxFor(r => r.PhoneNumber, new { @class = " form-control", @value = Model.PhoneNumber })
                                   @Html.ValidationMessageFor(r => r.PhoneNumber, "", new { @class = "text-danger", @style = "font-size: 12px;" })
                               </div>
                           </td>
                       </tr>
                       <tr>
                           <td colspan="2">
                               <div>
                                   @Html.LabelFor(r => r.Email, "Email: ", new { @style = "font-weight: 500" })
                                   @Html.TextBoxFor(r => r.Email, new { @class = " form-control", @value = Model.Email })
                                   @Html.ValidationMessageFor(r => r.Email, "", new { @class = "text-danger", @style = "font-size: 12px;" })
                               </div>
                           </td>
                       </tr>
                       <tr>
                           <td colspan="2">
                               <div>
                                   @Html.LabelFor(r => r.Address, "Address: ", new { @style = "font-weight: 500" })
                                   @Html.TextBoxFor(r => r.Address, new { @class = " form-control", @value = Model.Address })
                                   @Html.ValidationMessageFor(r => r.Address, "", new { @class = "text-danger", @style = "font-size: 12px;" })
                               </div>
                           </td>
                       </tr>
                   </table>
                   <div class="d-flex justify-content-center">
                       <button type="submit" class="btn btn-primary">Update</button>
                   </div>
               </div>
              
                }

</div>
